ul {
    width: 50%;
    height: 2cm;
    padding: 1cm 0 0 0;
    border: 20px green dotted;
}

li {
    background-color: lightseagreen;
    height: 1cm;
    width: min-content;
    padding: 3mm;
    list-style: none;
    float: inline-start;
}